header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

i {
    color: $white-normal
}

.header-icons {
    display: flex;
    gap: 14px;
}

.header-icons :hover {
    i{
        color: $blue-normal;
    }
}
.header-logo {
    text-align: center;
}
.header-logo img {
    width: 30%;
    height: auto;
}

.header-button-content {
    display: flex;
    justify-content: right;
   width: 300px;
}
.header-button {
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
}