header {
    width: 100%;
    padding: 10px 30px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

i {
    color: $white-normal;
    font-size: 2rem;
}

.header-icons {
    display: flex;
    gap: 14px;
}

.header-icons :hover {
    i{
        color: $blue-light;
    }
}
.header-logo {
    text-align: center;
}
.header-logo img {
    width: 30%;
    height: auto;
}

.header-button-content {
    display: flex;
    justify-content: center;
    width: 230px;
}
.header-button {
    border: 1px solid $white-normal;
    padding: 8px 10px;
    border-radius: 4px;
    color: $white-normal;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover{
    border: 1px solid $blue-light;
    background-color: $blue-light;

}

.header-logo {
    display: flex ;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:768px){
    .header-content {
        display:flex;
        flex-direction: column;
    }

    i {
        margin-top: 10px;
        font-size: 25px;
    }

    .header-logo img{
        margin-top: 20px;
        width: 230px;
        
    }

    .header-button {
        display: none;
    }
} 