* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
  padding: 10px 30px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

i {
  color: #ffffff;
  font-size: 2rem;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons :hover i {
  color: #22A5B6;
}

.header-logo {
  text-align: center;
}

.header-logo img {
  width: 30%;
  height: auto;
}

.header-button-content {
  display: flex;
  justify-content: right;
}

.header-button {
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #22A5B6;
  background-color: #22A5B6;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header-content {
    display: flex;
    flex-direction: column;
  }
  i {
    margin-top: 10px;
    font-size: 25px;
  }
  .header-logo img {
    margin-top: 20px;
    width: 150px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.bg-home {
  position: relative;
}

.bg-home:before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/bg_future.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 45px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color: #ffffff;
  background-color: #22A5B6;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0px;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #06121E;
  overflow: hidden;
  color: #ffffff;
}

.about-content {
  display: flex;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121E;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */